<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/admin/add-products">Add Products</a></li>
                <li><a href="/admin/products">Admin Products</a></li>
            </ul>
            <ul>
                <li>
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/admin/products" method="POST" enctype="multipart/form-data">
            <h2>Add a product!</h2>
            <input type="text" name="title" placeholder="title" value="<%= oldInput.title %>"><br><br>
            <input type="number" step="0.01" name="price" placeholder="price" value="<%= oldInput.price %>"><br><br>
            <input type="file" name="image"><br><br>
            <textarea name="description" rows="10" placeholder="description"><%= oldInput.description %></textarea><br><br>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">Add</button>
        </form>
        <% if(error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
    </main>
</body>

</html>