<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <title>Document</title>
    <style>
        .order-item {
            display: flex;
            justify-content: space-around;
            font-weight: bold;
            border: 2px solid black;
            border-radius: 5px;
            padding: 5px;
            margin: 5px;
        }

        main p {
            text-align: left;
            margin-left: 5px;
            font-weight: bold;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/admin/add-products">Add Products</a></li>
                <li><a href="/admin/products">Admin Products</a></li>
            </ul>
            <ul>
                <li>
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <% if(products.length > 0) { %>
        <div>
            <% for (let prod of products) { %>
            <div class="order-item">
                <span><%= prod.title %></span>
                <span><%= prod.price %>$</span>
                <span>Quantity: <%= prod.cartItem.quantity %></span>
                <span>total: <%= prod.price * prod.cartItem.quantity %>$</span>
            </div>
            <% } %>
        </div>
        <p>Total number of items: <%= totalItems %></p>
        <p>Total price: <%= totalPrice %>$</p>
        <div>
            <button id="order-button">Order</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                var stripe = Stripe('pk_test_51HromeDApknmWwAEALQgdWuekmlLJSsFRkEAzrbMj4Qf7Y0Q3749z1K89LzHGreDOzrFO4uf8VbTsWULSnjnE17t001pP2aZCJ');
                var orderBtn = document.getElementById('order-button');
                orderBtn.addEventListener('click', function() {
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                    });
                });
            </script>
        </div>
        <% } %>
    </main>
</body>

</html>